body {
  font-family: Raleway, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary;
}

.error {
  border-color: #ffcbcb !important;
  background-color: lighten($error, 5%);
}

.tooltip-error {
  position: absolute;
  right: 0;
  bottom: -15px;
  border: 1px solid $error;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0.7em;
  padding: 0.2em 0.5em;
  color: darken($error, 20%);

  &::before {
    position: absolute;
    right: 10px;
    top: -5px;
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid $error;
    border-right: none;
    border-bottom: none;
    border-radius: 2px;
    transform: rotate(45deg);
    background-color: #fff;
    content: '';
  }
}
